<div class="container">
    <div class="page-header-row">
        <a routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
            <span>Back</span>
        </a>
        <h1>Pedidos</h1>
    </div>

    <!-- Main body -->

    <!-- test bootstrap grid system -->
    <div class="row">

        <div class="col-md-4 col-sm-12" style="padding: 30px; background-color:#607d8b; color: white">
            <i class="fas fa-sun fa-2x mr-3"></i>
            <h2>
                Grade de Bootstrap
            </h2>
            <button mat-raised-button color="primary">Bench Press Me</button>
        </div>
        <div class="col-md-4 col-sm-12" style="padding: 30px; background-color:#ffffe0; color: black">
            <i class="fas fa-sun fa-2x mr-3"></i>
            <h2>
                Está Funcionando
            </h2>
              <button mat-raised-button color="accent">Bench Press Me</button>
        </div>
        <div class="col-md-4 col-sm-12" style="padding: 30px; background-color:firebrick; color: white">
            <i class="fas fa-sun fa-2x mr-3"></i>
            <h2>
                Tal Como Devia
            </h2>
            <button mat-raised-button color="accent">Bench Press Me</button>
        </div>
        <div class="col-md-4 col-sm-12" style="padding: 30px; background-color:grey; color: white">
            <i class="fas fa-sun fa-2x mr-3"></i>
            <h2>
                Tema Encarregado Oba
            </h2>
            <button mat-raised-button color="accent">Bench Press Me</button>
        </div>

    </div>

</div>
