<div class="container">
    <div class="page-header-row">
        <a routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
            <span>Back</span>
        </a>
        <h1>Configurações</h1>
        <h2>Jiggering Things Correctly</h2>
    </div>

<!--      <mat-grid-list cols="2" rowHeight="1:5" gutterSize="4em">

        <mat-grid-tile>

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="fas fa-sun fa-3x"></mat-icon>
              </div>
              <mat-card-title>Hybris Debris</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/titannical-steaming.jpg" alt="Photo of a Zen Monk">
            <mat-card-content>
              <p>
                Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-raised-button">Talvez</button>
              <button mat-button mat-raised-button>Jeito Nenhum</button>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list

        <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="fas fa-sun fa-3x"></mat-icon>
              </div>
              <mat-card-title>Clash of the Titan</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/titannical-steaming.jpg" alt="Photo of a Shiba Inu">
            <mat-icon>all_inclusive</mat-icon>
            <mat-card-content>
              <p>
                Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-raised-button>Talvez</button>
              <button mat-button mat-raised-button>Jeito Nenhum</button>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>

      </mat-grid-list> -->


</div>
