<mat-toolbar class="toolbar">

  <!-- App name -->
  <button mat-icon-button (click)="toggleSidenav()" matTooltip="Open/close left navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-container *ngIf="!mobileQuery.matches">
    <div class="app-logo">
      <mat-icon>blur_on</mat-icon>
      <h1>Engenho Novo NG2</h1>
    </div>
  </ng-container>

  <!-- Search -->
  <div class="search-container">
    <label>
      <mat-icon class="search-icon">search</mat-icon>
      <input #searchInput class="search-input" type="search" (keyup.enter)="search(searchInput.value); searchInput.value='';" placeholder="Search"/>
    </label>
  </div>

  <div class="fill-remaining-space"></div>

  <!-- Account button -->
  <ng-container *ngIf="!mobileQuery.matches">
    <a routerLink="/help/shortcuts" mat-icon-button matTooltip="Keyboard Shortcuts">
      <mat-icon class="fas fa-sun fa-2x"></mat-icon>
    </a>
  </ng-container>
  <button mat-icon-button [matMenuTriggerFor]="account" matTooltip="Account menu">
    <mat-icon class="material-icons">waves</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="account" matTooltip="Account menu">
    <mat-icon class="material-icons">restaurant</mat-icon>
  </button>
  <!-- Account menu -->
  <mat-menu #account="matMenu" xPosition="before">
    <a mat-menu-item class="menu-item" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Nurzhan Mukhamedkali</span>
    </a>

    <mat-divider></mat-divider>

    <a mat-menu-item class="menu-item" routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>
    <a mat-menu-item class="menu-item" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </a>
    <a mat-menu-item class="menu-item" routerLink="/feedback">
      <mat-icon>feedback</mat-icon>
      <span>Send feedback</span>
    </a>

    <mat-divider></mat-divider>

    <a mat-menu-item class="menu-item" routerLink="/logout">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
  </mat-menu>

</mat-toolbar>
