<div class="page-header-row">
  <h1>
    <i class="material-icons md-72">rowing</i>
    In Media Res</h1>
</div>

  <div class="row" style="height: calc(100vh - 250px); display: flex; flex-direction: row; align-items: center; justify-content: space-around; text-align: center;">

      <div>
        <img src="../../../assets/img/alchemy-sulphuric.svg" width="150px">
        <p>
        <button mat-raised-button color="primary" style="margin-top: 25px;"><i class="material-icons">directions_bike</i>&nbsp;&nbsp; Depress Me</button>
        </p>
      </div>

      <div><img src="../../../assets/img/alchemy-sulphuric.svg" width="150px">
        <p>
        <button mat-raised-button color="primary" style="margin-top: 25px;"><i class="material-icons">directions_bike</i>&nbsp;&nbsp; Depress Me</button>
        </p>
      </div>

      <div><img src="../../../assets/img/alchemy-sulphuric.svg" width="150px">
        <p>
        <button mat-raised-button color="primary" style="margin-top: 25px;"><i class="material-icons">directions_bike</i>&nbsp;&nbsp; Depress Me</button>
        </p>
      </div>
  </div>

    <div class="frow" style="height: calc(100vh - 100px); display: flex; flex-direction: row; align-items: center; justify-content: center; text-align: center;">
      <div><img src="../../../assets/img/alchemy-sulphuric.svg" width="150px"></div>

      <div><img src="../../../assets/img/alchemy-sulphuric.svg" width="150px"></div>

      <div><img src="../../../assets/img/alchemy-sulphuric.svg" width="150px"></div>
  </div>
