@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"News Cycle", sans-serif;');
@include mat-core($custom-typography);

$custom-primary: mat-palette($mat-blue-grey);
$custom-accent: mat-palette($mat-yellow, 100);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);


body, html {
    font-family: 'News Cycle', sans-serif !important;
    font-weight: 300 !important;
}

html, body {
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
}

.fill-remaining-space {
    flex: 1 1 auto;
}

/*
    <Back> button
*/
.page-header-row a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 200px;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #3f51b5;
}

/*
    rounded and colored background for text
*/
.custom-text-grey-round-container {
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
    Overrides
*/
.mat-button {
    min-width: auto !important;
    overflow: hidden;
}
.mat-divider {
    margin: 10px 0 !important;
}
